<p id="notice"><%= notice %></p>

<h1>Dblegos</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Color</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dblegos.each do |dblego| %>
      <tr>
        <td><%= dblego.part %></td>
        <td><%= dblego.color %></td>
        <td><%= dblego.quantity %></td>
        <td><%= link_to 'Show', dblego %></td>
        <td><%= link_to 'Edit', edit_dblego_path(dblego) %></td>
        <td><%= link_to 'Destroy', dblego, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dblego', new_dblego_path %>
