<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @dblego.part %>
</p>

<p>
  <strong>Color:</strong>
  <%= @dblego.color %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @dblego.quantity %>
</p>

<%= link_to 'Edit', edit_dblego_path(@dblego) %> |
<%= link_to 'Back', dblegos_path %>
